.popup {
  display: none; 
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 16px;
}

/* Normal popup, Discount Popup*/
.normal-popup,.discount-popup {
  display: none;
  flex-direction: row;
  background-color: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  max-height: 90vh; 
  overflow-y: auto; /* Enable vertical scrolling */   
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  max-width: 720px;
}

/* Image */
.normal-popup img {
  max-width: 300px;
  width: 100%;
  height: auto;
  margin-right: 20px;
  object-fit: contain;
}

/* Mobile */
@media (max-width: 1024px) {
  .normal-popup {
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    max-height: 85vh;
    overflow-y: auto; /
  }

  .normal-popup img {
    max-height: 250px;
    margin-right: 0;
    padding: 10px;
    width: 100%;
  }
}

/* Subscribe section */
.popup-subcribe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  padding: 20px;
  gap: 10px;
  width: 100%;
}

/* Button */
.popup-subcribe button {
  background-color: #ff808b;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin: 10px 0;
}

.popup-subcribe button:hover {
  background-color: #ff4c56;
}

/* Email input */
.email-input {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  gap: 5px;
}

.email-input input {
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
}

/* Close button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

/* Testing popup */
.testing-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 15px;
  border: 2px dashed #e32026;
  border-radius: 8px;
  background-color: #ffe8ea;
}

.testing-popup h2 {
  margin: 0 0 10px 0;
  color: #b51c2d;
}

.testing-popup button {
  background-color: #b51c2d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.testing-popup button:hover {
  background-color: #8e141f;
}

.testing-popup p {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}


/* Discount Popup */
.discount-popup {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  max-width: 400px;
}
.discount-popup h1 {
  margin: 15px 0 10px 0;
  font-size: 30px;
  color: #333;
}
.discount-popup p {
  margin: 10px 0;
  font-size: 16px;
  color: #2A9168;
}
.discount-popup h2 {
  margin: 10px 0;
  font-size: 24px;
  color: #ff808b;
  border: 2px dashed #ff808b;
  padding: 10px 20px;
  border-radius: 5px;
}
.discount-popup button {
  background-color: #ff808b;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
   transition: background-color 0.3s ease;
}
.discount-popup button:hover {
  background-color: #ff4c56;
}
.check {
  padding: 25px;
  color: white;
  background-color: #2A9168;
  font-size: 48px;
  font-weight: bold;
  border-radius: 100%;
}