.popup {
  display: none; /* Başlangıçta gizli */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Yarı saydam arka plan */
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Üstte görünmesi için yüksek z-index */
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.popup-content {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}
.popup-content img {
  max-width: 300px;
  margin-right: 20px;
}

.popup-subcribe {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  background-color: white;
  padding: 20px;
  gap: 10px 0;
}
.popup-subcribe button {
  background-color: #ff808b;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin: 10px 0;
}
.popup-subcribe button:hover {
  background-color: #ff4c56;

}

.email-input {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  gap: 5px;
}
.email-input input {
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}
