body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  margin: 0;
  padding: 40px 16px;
  display: flex;
  justify-content: center;
}

.container {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 700px;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.grid a {
  display: block;
  text-align: center;
  padding: 12px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.normal {
  background-color: #4f46e5;
}

.github {
  background-color: #111827;
}

.grid a:hover {
  opacity: 0.85;
}

/* Timed Campaign Popup Section */
.popup-section {
  margin-top: 40px;
  padding-top: 25px;
  border-top: 1px solid #e5e7eb;
}

.popup-section h2 {
  text-align: center;
  margin-bottom: 15px;
}

.popup-section p {
  text-align: center;
  color: #555;
  font-size: 14px;
  margin-bottom: 20px;
}

.popup-section a {
  display: block;
  margin: 0 auto;
  width: fit-content;
  padding: 12px 20px;
  background-color: #16a34a;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

.popup-section a:hover {
  opacity: 0.9;
}

/* Responsive */
@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

/* Social Media Icons*/

.social-links {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icon {
  padding: 7px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 22px;
  text-decoration: none;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.social-icon.github {
  background-color: #111827;
}

.social-icon.linkedin {
  background-color: #0a66c2;
  border-radius: 10%;
    
}

.social-icon:hover {
  transform: scale(1.1);
  opacity: 0.9;
}


/* Designed By Section*/

.designed-by {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #e5e7eb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.designer-logo {
  width: 60px;
  height: auto;
  opacity: 0.9;
  cursor: pointer;
}

.designed-by p {
  font-size: 13px;
  color: #6b7280;
  margin: 0;
}